@charset "UTF-8";
/* CSS Document */
body,html{width: 100%;height: 100%;overflow: scroll;}
#top{background-color:rgba(232,231,227,1.00);
    width:100%;
	height:30px;
	padding: 5px;
	overflow: inherit;
}
body{margin: 0}
#topleft{
	float: left;
		overflow: inherit;
}
#topright{
	float: right;
	vertical-align: middle;
	display: inline-block;
	overflow: inherit;
	padding: 5px
}
.seperation{font-size:10px}
a{vertical-align: middle;display: inline-block;text-decoration: none; color:blue;}
#topRight{text-align: left}
