@charset "UTF-8";
/* CSS Document */
#main{background-color:aliceblue;background-image: url(HomeBack.jpg);background-size:auto;background-repeat: no-repeat;text-align: center;margin: 0;overflow: hidden}



